	<section class="footer_contact">
		<div class="title">
			<h2 class="title_en">Contact</h2>
			<p class="title_ja">联系我们</p>
		</div>
		<!-- /.title_box -->
		<p class="text">如果您对我们的产品有任何疑问或咨询，请使用下面的表格通过电话或电子邮件联系我们。</p>
		<div class="link_box">
			<div class="inner">
				<div class="flex">
					<a href="0829425833" class="tel">082-942-5833</a>
					<p class="fax">082-942-5835</p>
				</div>
				<p class="time">接待时间：上午 9:00 至下午 5:00（周末及节假日除外）</p>
			</div>
			<!-- /.flex -->
			<a href="contact.html" class="mail button"><span>电子邮件表单</span></a>
		</div>
		<!-- /.link_box -->
	</section>
	<!-- /.footer_contact -->