<footer class="footer">
  <div class="footer_inner">
    <a href="index.html#top" class="footer_logo">
      <img
        src="../assets/images/logo.svg"
        alt="Nabio Inc. 标志"
        width="228"
        height="80"
        decoding="async"
        loading="lazy"
      />
    </a>

    <div class="container">
      <div class="flex">
        <div class="add_box">
          <p class="company_name">Nabio有限公司</p>
          <p>地址：广岛市佐伯区八幡5丁目10-12 邮编：731-5116</p>
          <a href="tel:0829425833" class="tel">电话：082-942-5833</a>
          <p class="fax">传真：082-942-5835</p>
        </div>
        <!-- /.add_box -->

        <div class="add_box_china">
          <div class="inner">
            <p class="company_name">北京纳宝恩商贸有限公司</p>
            <p>北京市朝阳区广渠门外大街8号优士阁B座507室</p>
            <a href="tel:4006559869" class="tel">电话：400-655-9869</a>
            <p class="fax">传真：0411-86332746</p>
          </div>
          <!-- /.inner -->
          <div class="inner">
            <p class="company_name">中国大陆地域指定代理 北京纳百恩有限公司</p>
            <p>北京市昌平区十三陵镇泰陵园村209号</p>
            <a href="tel:01069706193" class="tel">电话：010-69706193</a>
          </div>
          <!-- /.inner -->
        </div>
        <!-- /.add_box_china -->
      </div>

      <nav class="footer_nav">
        <ul class="footer_list">
          <li class="footer_item">
            <a href="products.html" class="footer_link">
              <span class="ja">产品介绍</span>
              <span class="en">Products</span>
            </a>
          </li>
          <li class="footer_item">
            <a href="faq.html" class="footer_link">
              <span class="ja">常问问题</span>
              <span class="en">FAQ</span>
            </a>
          </li>
          <li class="footer_item">
            <a href="company.html" class="footer_link">
              <span class="ja">公司概况</span>
              <span class="en">Company</span>
            </a>
          </li>
          <li class="footer_item">
            <a href="contact.html" class="footer_link">
              <span class="ja">联系我们</span>
              <span class="en">Contact</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.footer_nav -->
    </div>
    <!-- /.container -->
    <a href="#top" class="button top_button"><span>Page Top</span></a>
    <div class="footer_bottom">
      <ul class="lang_links">
        <li class="link_ja">
          <a href="../index.html">JP</a>
        </li>
        <li class="link_en">
          <a href="../en/index.html">EN</a>
        </li>
        <li class="link_zh">
          <a href="index.html">中文</a>
        </li>
      </ul>
      <!-- /.lang_links -->
      <small class="footer_copy">© 2025 Nabio有限公司</small>
      <!-- /.footer_copy -->
    </div>
    <!-- /.footer_bottom -->
  </div>
  <!-- /.footer_inner -->
</footer>
