.sub_page {
	&::before {
		background-image: url(../images/heading_company.jpg);
	}

}


.contents {
	.section_outline {
		max-width: var(--main-width);
		margin-inline: auto;

		.inner_outline {
			display: flex;
			justify-content: space-between;

			@media (max-width: 768px) {
				flex-direction: column;
			}

			.title_box {
				flex: 1;
			}
		}
	}

}


.company_table {
	width: 100%;
	flex: 1.5;
}

.company_table_row {
	display: flex;
	letter-spacing: 0.05em;

	dt {
		width: 150px;
		font-weight: 500;
		padding: 25px 0;
		border-bottom: 1px solid var(--border-color);

	}

	dd {
		width: calc(100% - 150px);
		padding: 25px 0;
		border-bottom: 1px solid var(--border-color);

		.location_group {
			&.designated_agent {
				margin-top: 1.5rem;
			}
		}

		.inner {
			display: flex;
			align-items: flex-end;
			line-height: 1.8;
		}
	}

	.map {
		display: flex;
		align-items: center;
		gap: 8px;
		padding-left: 1rem;

		&::after {
			content: "";
			background-image: url(../images/out_link.svg);
			display: block;
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
		}
	}
}

.section_business {
	width: 100%;
	height: 470px;
	background-image: url(../images/company_bg.jpg);
	background-repeat: no-repeat;
	position: relative;
	z-index: -1;

	@media (max-width: 768px) {
		background-position: top;
		padding: 0 1rem;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(20, 20, 20, 0.3);
		z-index: 2;
	}

	.title_en {
		color: var(--white-color);
	}

	.title_ja {
		color: var(--white-color);
	}
}

.inner_buisiness {
	max-width: var(--main-width);
	width: 100%;
	height: 100%;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	vertical-align: middle;
	row-gap: 30px;
	z-index: 2;
	position: relative;
}

.text_business {
	color: var(--white-color);
	line-height: 2;
}

.inner_history {
	max-width: var(--main-width);
	width: 100%;
	margin-inline: auto;
}

.inner_access {
	max-width: var(--main-width);
	margin-inline: auto;
	width: 100%;
}


.map_container {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	margin-top: 32px;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}