.swiper.mySwiper {
	width: 100%;
	height: 98vh;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	/* overflow: visible; */

	/* @media (max-width: 768px) {
		height: 100vh;
	} */

	.swiper-slide {
		width: 100%;
		height: 100%;

		&::after {
			background-image: url(../images/fv_exclude.webp);
			content: "";
			background-repeat: no-repeat;
			display: block;
			position: absolute;
			top: 0;
			right: 6%;
			z-index: 10;
			width: 1227px;
			height: 1166px;
		}
	}

	.first {
		position: relative;
		z-index: -1;
		/* display: none; */
		/* background-image: url(../images/fv_1.jpg);
		background-repeat: no-repeat;
		background-position: center center; */

		img {
			height: 100%;
			object-fit: cover;

			@media (max-width: 768px) {
				width: 100%;
				height: 100%;

			}
		}

		.copy {
			position: absolute;
			top: 50%;
			left: 96px;
			transform: translateY(-50%);
			display: flex;
			flex-direction: column;
			/* padding-top: 270px;
			padding-left: 96px; */
			row-gap: 30px;
			z-index: 12;

			@media (max-width: 768px) {
				left: 1rem;
			}

			.text {
				font-size: calc(96 * var(--rem-ratio));
				color: var(--white-color);

				@media (max-width: 768px) {
					font-size: calc(48 * var(--rem-ratio));
				}

				.red {
					color: var(--accent-color);
				}
			}

			.sub_text {
				color: var(--white-color);
				line-height: 2;
				letter-spacing: 0.05em;
			}
		}
	}

	.second {
		position: relative;
		z-index: -1;
		width: 100%;
		height: 100%;
		display: grid;
		place-items: center;
		background-image: url(../images/fv_2.webp);
		background-repeat: no-repeat;
		background-size: 100%;
		background-size: cover;
		/* display: none; */

		img {
			height: 100%;
			object-fit: cover;

			@media (max-width: 768px) {
				height: 100%;

			}
		}

		.copy {
			display: grid;
			gap: 45px;
			text-align: center;
			position: relative;
			z-index: 12;

			.text {
				font-size: calc(96 * var(--rem-ratio));

				@media (max-width: 768px) {
					font-size: calc(48 * var(--rem-ratio));
				}
			}

			.sub_text {
				font-size: calc(24 * var(--rem-ratio));
				line-height: 1.6;
				letter-spacing: 0.05em;

				@media (max-width: 768px) {
					font-size: calc(18 * var(--rem-ratio));
				}
			}
		}
	}

	.third {
		position: relative;
		z-index: -1;
		/* display: none; */

		img {
			height: 100%;
			object-fit: cover;

			@media (max-width: 768px) {
				height: 100%;

			}
		}

		.copy {
			position: absolute;
			top: 17%;
			left: 8%;
			color: var(--white-color);
			display: grid;
			gap: 45px;

			@media (max-width: 768px) {
				gap: 1rem;
			}

			.text {
				font-size: calc(64 * var(--rem-ratio));

				@media (max-width: 768px) {
					font-size: calc(32 * var(--rem-ratio));
				}
			}

			.sub_text {
				font-size: calc(24 * var(--rem-ratio));
				line-height: 1.6;
				letter-spacing: 0.05em;

				@media (max-width: 768px) {
					font-size: calc(16 * var(--rem-ratio));
				}
			}
		}
	}

}

.top_curve {
	width: 100%;
	height: 150px;
	position: relative;

	&:before {
		content: "";
		width: 100%;
		height: 150px;
		background-color: var(--white-color);
		clip-path: ellipse(55% 87% at 50% 100%);
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 100;
	}
}

#scroll_wrapper {
	height: 100vh;
	width: 100%;
	margin-top: -150px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2;
}

.scroll_contents {
	position: relative;
	z-index: 2;
	background-color: var(--white-color);

	/* &:before {
		content: "";
		width: 100%;
		height: 150px;
		background-color: var(--white-color);
		clip-path: ellipse(55% 87% at 50% 100%);
		position: absolute;
		top: -150px;
		right: 0;
		z-index: 100;
	} */
}

.intro {
	width: 100%;
	background-color: var(--white-color);
	display: grid;
	row-gap: 40px;
	text-align: center;
	background-image: url(../images/bg_world_map.webp);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 0%;
	transition: none;
	overflow: hidden;
	padding-bottom: 120px;
	position: relative;


	@media (max-width: 768px) {
		background-size: cover;
		background-position: center;
	}


}

.intro_copy {
	font-size: calc(60 * var(--rem-ratio));
	letter-spacing: 0.05em;

	@media (max-width: 768px) {
		font-size: calc(32 * var(--rem-ratio));
	}
}

.intro_text {
	font-size: calc(18 * var(--rem-ratio));
	line-height: 2;
}

.image_gallery {
	max-width: var(--main-width);
	margin-inline: auto;
	width: 100%;

	.flex_container {
		display: flex;
		column-gap: 130px;
		margin-top: 20px;

		@media (max-width: 768px) {
			column-gap: 30px;
		}
	}
}

.img_woman,
.img_man,
.img_lab {
	will-change: transform;
}

/* 左の縦長の画像の設定 */
.img_man {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* 右上の画像の設定 */
.img_woman {
	width: 650px;
	margin-left: auto;
	object-fit: cover;

	@media (max-width: 768px) {
		width: 300px;
	}
}

/* 右下の画像の設定 */
.img_lab {
	padding-top: 120px;
	padding-right: 115px;
	width: 100%;
	height: auto;
	object-fit: cover;

	@media (max-width: 768px) {
		padding-right: 30px;
	}
}

.section_home_products {
	/* background-image: url(../images/bg_exclude.png);
	background-repeat: no-repeat;
	background-position: bottom 160px right; */
	padding-top: 120px;
	/* height: 350vh; */
	/* position: relative; */
}

.inner_home_product {
	max-width: var(--main-width);
	margin-inline: auto;
	width: 100%;
	display: flex;
	position: relative;
	top: 0;
	height: 100vh;
	overflow: hidden;
	height: 100vh;
	align-items: center;

	@media (max-width: 768px) {
		flex-direction: column;
	}

	.text_inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		/* row-gap: 24px;
		flex: 1;
		height: 100%; */
		width: 50%;

		@media (max-width: 768px) {
			width: 100%;
			align-items: center;
			margin-right: auto;
			padding: 0 1rem;
		}

		/* .button {
			margin-inline: auto;
		} */
	}

	.img_box {
		/* flex: 1;
		position: relative;
		height: 100%; */
		width: 50%;
		height: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 768px) {
			width: 100%;
			align-items: center;
			margin-right: auto;
			padding: 0 1rem;
		}

		&::after {
			content: "";
			background-image: url(../images/bg_exclude.webp);

		}

		.product_step {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: auto;
			opacity: 0;

			/* 画像自体の調整 */
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				display: block;
				margin: 0 auto;
			}

		}
	}

	/* JSで付与する「表示中」のクラス */
	/* .product_img.is-active {
		opacity: 1;
	} */

	figure {
		figcaption {
			display: grid;
			row-gap: 14px;
			margin-top: 14px;
			text-align: center;
			margin-top: 10px;
		}

		.product_name {
			font-size: calc(24 * var(--rem-ratio));
		}
	}
}

.section_features {
	padding: 48px 148px 0;

	@media (max-width: 768px) {
		padding: 0 20px;
	}

	.button {
		margin-inline: auto;
	}
}

.features_inner {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 40px;

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
		row-gap: 20px;
	}

}

.features_item {
	display: grid;
	row-gap: 50px;
	padding: 40px;
	box-shadow: 0 0 30px rgba(20, 20, 20, 0.3);
}

.title_dots {
	font-size: calc(24 * var(--rem-ratio));
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	&::before {
		content: "";
		background-image: url(../images/icon_circle.svg);
		background-repeat: no-repeat;
		width: 30px;
		height: 6px;
		background-size: contain;
	}

}

.features_text {
	line-height: 1.8;
	letter-spacing: 0.05em;
}

.section_home_company {
	padding-top: 120px;
	padding-bottom: 120px;

	.title_box {
		max-width: var(--main-width);
		margin-inline: auto;

	}
}


.section2 {
	background-color: var(--base-color);

	.section_home_company {
		position: relative;
		background-image: url(../images/gold_blur.png);
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: top right;
		/* &::before {
			content: "";
			background-image: url(../images/gold_blur.png);
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			right: 0;
			width: 593px;
			height: 456px;
			background-size: 100%;

			z-index: 10;
		} */
	}
}


.inner_home_company {
	max-width: var(--main-width);
	margin-inline: auto;
	display: flex;
	column-gap: 80px;
	/* position: relative; */

	@media (max-width: 768px) {
		flex-direction: column-reverse;
		margin-top: 48px;
	}

	.text_inner {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		row-gap: 48px;
		flex: 1;
		/* position: relative;
		z-index: 2; */
	}

	/* img {
		flex: 2;
	} */

	.img_wrapper {
		/* z-index: 0; */
		/* width: fit-content;
		height: fit-content; */

		/* &::before {
			content: "";
			position: absolute;
			top: 20px;
			left: 20px;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom right, var(--white-color), var(--accent-color));
			z-index: -1;
			filter: url(#noiseFilter);
		} */

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

}

.section_faq {
	background-color: var(--gray-color);
	padding: 80px 0;

	.title_box {
		justify-content: center;
	}
}

.inner_faq {
	max-width: var(--main-width);
	margin-inline: auto;

	.button {
		margin-inline: auto;
	}
}

.faq_list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 60px;

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
		row-gap: 30px;
		padding: 0 20px;
	}
}

.faq_item {
	display: grid;
	row-gap: 20px;
	place-content: center;
	clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 75% 85%, 75% 100%, 65% 85%, 0 85%);
	background-color: var(--white-color);
	padding: 40px 30px 80px;
}

.faq_item_wrap {
	/* filter: drop-shadow(offsetX offsetY blur color); */
	filter: drop-shadow(0px 5px 15px rgba(20, 20, 20, 0.15));
	display: grid;
}

.faq_deco {
	font-size: calc(30 * var(--rem-ratio));
	font-family: var(--font-family-en);
	font-weight: 500;
	text-align: center;
}

.faq_question {
	font-size: calc(18 * var(--rem-ratio));
	line-height: 1.8;
	letter-spacing: 0.05em;

	&::before {
		content: "";
		background-image: url(../images/icon_circle.svg);
		background-repeat: no-repeat;
		width: 30px;
		height: 6px;
		background-size: contain;
		display: block;
		margin-bottom: 0.5rem;
	}
}