	<section class="footer_contact">
		<div class="title">
			<h2 class="title_en">Contact</h2>
			<p class="title_ja">お問い合わせ</p>
		</div>
		<!-- /.title_box -->
		<p class="text">商品に関するご質問、ご相談等のお問い合わせなどございましたら、下記の電話番号かメール送信フォームにてお願い致します。</p>
		<div class="link_box">
			<div class="inner">
				<div class="flex">
					<a href="0829425833" class="tel">082-942-5833</a>
					<p class="fax">082-942-5835</p>
				</div>
				<p class="time">受付時間：AM9:00～PM5:00まで（土日祝を）除く</p>
			</div>
			<!-- /.flex -->
			<a href="mailto:" class="mail contact_button">メールフォーム</a>
		</div>
		<!-- /.link_box -->
	</section>
	<!-- /.footer_contact -->