	<footer class="footer">
		<div class="footer_inner">
			<a href="#" class="footer_logo"><img src="assets/images/logo.svg" alt="株式会社ナビオのロゴ" width="228"
					height="80" decoding="async" loading="lazy"></a>

			<div class="container">
				<div class="flex">
					<div class="add_box">
						<p class="company_name">株式会社ナビオ</p>
						<p>〒731-5116　広島市佐伯区八幡五丁目10番12号</p>
						<a href="0829425833" class="tel">TEL：082-942-5833</a>
						<p class="fax">FAX：082-942-5835</p>
					</div>
					<!-- /.add_box -->

					<div class="add_box_china">
						<div class="inner">
							<p class="company_name">北京纳宝恩商贸有限公司</p>
							<p>北京市朝陽区廣渠門外大街8号優士閣B座507室</p>
							<a href="4006559869" class="tel">TEL：400-655-9869</a>
							<p class="fax">FAX：0411-86332746</p>
						</div>
						<!-- /.inner -->
						<div class="inner">
							<p class="company_name">中国大陸地域指定代理 北京納百恩有限公司</p>
							<p>北京市昌平区十三陵鎮泰陵園村209号</p>
							<a href="01069706193" class="tel">TEL：010-69706193</a>
						</div>
						<!-- /.inner -->
					</div>
					<!-- /.add_box_china -->
				</div>

				<nav class="footer_nav">
					<ul class="footer_list">
						<li class="footer_item">
							<a href="" class="footer_link"><span class="ja">他社製品との違い</span>
								<span class="en">Product Features</span></a>
						</li>
						<li class="footer_item">
							<a href="" class="footer_link"><span class="ja">商品紹介</span>
								<span class="en">Products</span></a>
						</li>
						<li class="footer_item">
							<a href="" class="footer_link"><span class="ja">よくある質問</span>
								<span class="en">FAQ</span></a>
						</li>
						<li class="footer_item">
							<a href="" class="footer_link"><span class="ja">会社概要</span>
								<span class="en">Company</span></a>
						</li>
						<li class="footer_item">
							<a href="" class="footer_link"><span class="ja">お問い合わせ</span>
								<span class="en">Contact</span></a>
						</li>
					</ul>
				</nav>
				<!-- /.footer_nav -->
			</div>
			<!-- /.container -->
			<div class="footer_bottom">
				<ul class="lang_links">
					<li class="link_ja">JP</li>
					<li class="link_en">EN</li>
					<li class="link_ch">中文</li>
				</ul>
				<!-- /.lang_links -->
				<small class="footer_copy">© 2025 NABIO Co.</small>
				<!-- /.footer_copy -->
			</div>
			<!-- /.footer_bottom -->
		</div>
		<!-- /.footer_inner -->

	</footer>
	<a href="#top" class="top_button">Page Top</a>