<header class="header" id="#top">
	<div class="header_inner">

		<div class="nav_wrapper">
			<h1 class="header_logo"><a href="index"><img src="assets/images/logo.svg" alt="株式会社ナビオのロゴ" width="145"
						height="51" decoding="async" loading="lazy"></a></h1>

			<nav class="nav">
				<ul class="nav_list">
					<li class="nav_item"><a href="features" class="nav_link"><span class="ja">他社製品との違い</span><span
								class="en">Product Features</span></a></li>
					<li class="nav_item"><a href="products" class="nav_link"><span class="ja">商品紹介</span><span
								class="en">Products</span></a></li>
					<li class="nav_item"><a href="faq" class="nav_link"><span class="ja">よくある質問</span><span
								class="en">FAQ</span></a></li>
					<li class="nav_item"><a href="company" class="nav_link"><span class="ja">会社概要</span><span
								class="en">Company</span></a></li>
					<li class="nav_item"><a href="contact" class="nav_link"><span class="ja">お問い合わせ</span><span
								class="en">Contact</span></a></li>
				</ul>
			</nav>
		</div>
		<div class="header_contact">
			<div class="header_contact_inner">
				<a href="tel:0829425833" class="tel">082-942-5833</a>
				<a href="contact" class="mail"><img src="assets/images/icon_mail.svg" alt="お問い合わせフォームのリンク" width="25"
						height="25" decoding="async" loading="lazy"></a>
			</div>

			<ul class="lang_links">
				<li class="link_ja">JP</li>
				<li class="link_en">EN</li>
				<li class="link_ch">中文</li>
			</ul>

		</div>
	</div>
	<button class="hamburger_button">
		<div class="button_line_top"></div>
		<div class="button_line_bottom"></div>
	</button>
	<div class="hamburger_contents">

		<div class="hamburger_top_bar">
			<div class="hamburger_logo"><a href="index"><img src="assets/images/logo.svg" alt="株式会社ナビオのロゴ" width="145"
						height="51" decoding="async" loading="lazy"></a></div>
			<div class="link_box">
				<ul class="lang_links">
					<li class="link_ja">JP</li>
					<li class="link_en">EN</li>
					<li class="link_ch">中文</li>
				</ul>
			</div>

		</div>
		<div class="hamburger_contact_area">
			<div class="hamburger_contact">
				<a href="tel:0829425833" class="tel">082-942-5833</a>
				<p>受付時間:AM9:00～PM5:00まで（土日祝を）除く</p>
				<a href="contact" class="mail button">メールフォーム</a>
			</div>
		</div>
		<ul class="hamburger_list">
			<li class="hamburger_item">
				<a href="features">
					<span class="ja">他社製品との違い</span>
					<span class="en">Product Features</span>
				</a>
			</li>
			<li class="hamburger_item">
				<a href="products"><span class="ja">商品紹介</span>
					<span class="en">Products</span>
				</a>
			</li>
			<li class="hamburger_item">
				<a href="faq">
					<span class="ja">よくある質問</span>
					<span class="en">FAQ</span>
				</a>
			</li>
			<li class="hamburger_item">
				<a href="company">
					<span class="ja">会社概要</span>
					<span class="en">Company</span>
				</a>
			</li>
			<li class="hamburger_item">
				<a href="contact">
					<span class="ja">お問い合わせ</span>
					<span class="en">Contact</span></a>
			</li>
		</ul>
	</div>
</header>