<section class="footer_contact">
  <div class="title">
    <h2 class="title_en">Contact</h2>
    <p class="title_ja">お問い合わせ</p>
  </div>
  <!-- /.title_box -->
  <p class="text">
    If you have any questions or inquiries about our products, please contact us
    by phone or email using the form below.
  </p>
  <div class="link_box">
    <div class="inner">
      <div class="flex">
        <a href="tel:0829425833" class="tel">082-942-5833</a>
        <p class="fax">082-942-5835</p>
      </div>
      <p class="time">
        Reception hours: 9:00 AM to 5:00 PM (excluding weekends and holidays)
      </p>
    </div>
    <!-- /.flex -->
    <a href="contact.html" class="mail button"><span>Email form</span></a>
  </div>
  <!-- /.link_box -->
</section>
<!-- /.footer_contact -->
