<footer class="footer">
	<div class="footer_inner">
		<a href="index.html#top" class="footer_logo"><img src="../assets/images/logo.svg" alt="Navio Inc. logo" width="228"
				height="80" decoding="async" loading="lazy"></a>

		<div class="container">
			<div class="flex">
				<div class="add_box">
					<p class="company_name">Navio Co., Ltd.</p>
					<p>〒731-5116 10-12 Yahata 5-chome, Saeki-ku, Hiroshima City</p>
					<a href="0829425833" class="tel">TEL：082-942-5833</a>
					<p class="fax">FAX：082-942-5835</p>
				</div>
				<!-- /.add_box -->

				<div class="add_box_china">
					<div class="inner">
						<p class="company_name">Beijing Nabaoen Trading Co., Ltd.</p>
						<p>Room 507, Building B, Youshige, No. 8 Guangqumenwai Street, <br>Chaoyang District, Beijing</p>
						<a href="4006559869" class="tel">TEL：400-655-9869</a>
						<p class="fax">FAX：0411-86332746</p>
					</div>
					<!-- /.inner -->
					<div class="inner">
						<p class="company_name">Authorized Agent for Mainland China: Beijing Nabaen Co., Ltd.</p>
						<p>No. 209, Tailingyuan Village, Shisanling Town, Changping District, Beijing</p>
						<a href="01069706193" class="tel">TEL：010-69706193</a>
					</div>
					<!-- /.inner -->
				</div>
				<!-- /.add_box_china -->
			</div>

			<nav class="footer_nav">
				<ul class="footer_list">
					<li class="footer_item">
						<a href="products.html" class="footer_link">
							<span class="ja">商品紹介</span>
							<span class="en">Products</span></a>
					</li>
					<li class="footer_item">
						<a href="faq.html" class="footer_link">
							<span class="ja">よくある質問</span>
							<span class="en">FAQ</span></a>
					</li>
					<li class="footer_item">
						<a href="company.html" class="footer_link">
							<span class="ja">会社概要</span>
							<span class="en">Company</span></a>
					</li>
					<li class="footer_item">
						<a href="contact.html" class="footer_link">
							<span class="ja">お問い合わせ</span>
							<span class="en">Contact</span></a>
					</li>
				</ul>
			</nav>
			<!-- /.footer_nav -->
		</div>
		<!-- /.container -->
		<a href="#top" class="button top_button"><span>Page Top</span></a>
		<div class="footer_bottom">
			<ul class="lang_links">
				<li class="link_ja">JP</li>
				<li class="link_en">EN</li>
				<li class="link_ch">中文</li>
			</ul>
			<!-- /.lang_links -->
			<small class="footer_copy">© 2025 NABIO Co.,Ltd.</small>
			<!-- /.footer_copy -->
		</div>
		<!-- /.footer_bottom -->
	</div>
	<!-- /.footer_inner -->

</footer>